* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: bolder;
}
.zuta {
  background-color: yellow;
}
.container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 20% 55% 19%;
  grid-template-rows: 10% 74% 10%;
  grid-gap: 3%;
}
header {
  grid-column-start: 1;
  grid-column-end: 4;
  padding-left: 30px;
  padding-top: 30px;
}
.levi {
  padding: 20px;
}
.centar {
  padding: 20px;
}
.desni {
  padding: 20px;
  text-align: right;
}
footer {
  grid-column-start: 1;
  grid-column-end: 4;
  padding: 30px;
}
